<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome paciente</th>
        <th scope="col desabilitar-em-tela-pequena">Nome Medico</th>
        <th scope="col desabilitar-em-tela-pequena">Consultorio</th>
        <th scope="col desabilitar-em-tela-pequena">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consulta of consultas">
        <td>{{ consulta.nomePaciente }}</td>
        <td class="desabilitar-em-tela-pequena">{{ nomeMedicoResponsavel(consulta.medicos)}}</td>
        <td class="desabilitar-em-tela-pequena">{{ consulta.numeroConsultorio }}</td>
        <td class="desabilitar-em-tela-pequena">{{ consulta.data | date: 'dd/MM/yyy HH:mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>